html, body {
    height: 100%;
    margin: 0;
}

ul
{
    /* 点を消す */
    list-style: none;
    padding: 0;
}

.can-push
{
    /* カーソルを通常に固定 */
    cursor: default;
}

.parent-height{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-button
{
    width: 50px;
}

.editor-buttons
{
    margin-right: 15px;
}

.editor-input
{
    /* 枠を常に表示しない */
    border: none;
    outline: none;
    /* 入力中でも文が自然になるように */
    margin-right: -3px;
}

.editor-row{
    /* 行のどこに触れていてもカーソルがテキストモードになるように */
    cursor: text;
}

.link-window{
    background-color: white;
    width: 250px;
    position: absolute;
    border: solid 1px;
    border-color: skyblue;
    padding: 3px;
}

.link-window-title{
    padding-left: 10px;
    font-size: 18px;
}

.link-window-content{
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow-wrap: break-word;
    color: gray;
}